*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comment-div {
  display: flex;
  flex-direction: column;
}

.comment-input {
  width: 12rem;
  border: 3px solid black;
  padding: 1rem;
}

.comment-button {
  width: 4rem;
  margin: 1rem;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comment-tab {
  border: 2px solid black;
  padding: 10px;
}
